<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:flashMessages />
<f:debug>{_all}</f:debug>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{data.tx_ucph_content_dropdown_btn} </button>
        <f:if condition="{linklist}">
            <ul class="dropdown-menu">
                <f:render partial="Items" arguments="{_all}" />
            </ul>
        </f:if>

        <f:if condition="{lib.ucph_content_dropdown.pagecss !== ''}">
            <f:asset.css identifier="{data.CType}_css" href="{f:cObject(typoscriptObjectPath: 'lib.ucph_content_dropdown.pagecss')}" />
        </f:if>
        <f:if condition="{lib.ucph_content_dropdown.pagejs !== ''}">
            <f:asset.script identifier="{data.CType}_js" src="{f:cObject(typoscriptObjectPath: 'lib.ucph_content_dropdown.pagejs')}" />
        </f:if>
</f:section>

</html>